<!DOCTYPE html>
<html>

<head>
  <title>VisionSplitter.io</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css"> </head>
  <link rel="stylesheet" href="css/custom.css" type="text/css"> </head>
<body>
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-cloud"></i><b>&nbsp;VisionSplitter.io</b></a>
    </div>
  </nav>
  <div class="py-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <img class="img-fluid d-block" src="assets/placeholder.jpg" id="bill_photo" onclick="select_file()">
          <input id="upload_input" type="file" name="uploads[]" style="display:none;"></br>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%;"><span id="progress_text">Click or drag n drop the image to upload a bill</span></div>
          </div>
          <div class="card my-4">
            <div class="card-header">
              <div class="row">
                    <div class="col-6">
                        <h4 style="margin-top: 3px; margin-bottom: 0">Membri</h4>
                    </div>
                    <div class="col-6">
                        <span data-bind="if: membri().length < colorList.length">
                          <a href="#" class="btn pull-right btn-sm btn-outline-secondary" data-bind="click: addMembro">Aggiungi membro</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <div data-bind="foreach: membri">
                <div class="row" data-bind="drop: function(data, event){ $root.setKing($data, event)}">
                  <div class="col-6">
                    <h4>
                      <span data-bind="if: isKing() == 1">
                        <img src="assets/chess.png" width="23px" height="23px" style="margin-bottom:5px; cursor: move" data-bind="drag: function(data, event){ $root.removeKing($data, event)}"/>
                      </span>
                      <span data-bind="if: isKing() == 0">
                        <img src="assets/chess.png" width="23px" height="23px" style="margin-bottom:5px; opacity:0.45; filter:grayscale(100%); cursor: pointer" data-bind="click: $root.kingClick"/>
                      </span>
                      &nbsp
                      <i class="fa d-inline fa-circle" data-bind="style: {color: color}"></i>&nbsp&nbsp<input style="width:70%" data-bind="textInput: name, value: name" maxlength="10"/> </h4>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-9">
                        <p id="c_lead" class="lead pi-draggable text-muted text-center" data-bind="if: isKing() == 0">+ <span data-bind="text: money"></span> €</p>
                      </div>
                      <div class="col-2" data-bind="if: isKing() == 0">
                        <a href="#" class="btn btn-danger btn-sm text-light" style="font-size:10px" data-bind="click: $root.removeMembro"><i class="fa fa-lg fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-6">
              <h2 class="">Lista della spesa </h2>
            </div>
            <div class="col-6">
              <a class="btn pull-right btn-sm btn-outline-secondary" href="#" data-bind="click: addOggettoWrapper">Aggiungi prodotto
                <br> </a>
            </div>
          </div>
          <table class="table table-responsive" id="main_table">
            <thead>
              <tr>
                <th>Prodotti</th>
                <th>Prezzo</th>
                <th></th>
              </tr>
            </thead>
            <tbody data-bind="foreach: oggetti">
              <tr>
                <td><input data-bind="value: name" /></td>
                <td><input data-bind="value: price, valueUpdate:'afterkeydown', event: { 'keyup': $root.calcola }" /></td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm text-light pull-right" style="margin-left: 5px" data-bind="click: $root.removeOggetto"><i class="fa fa-lg fa-times"></i></a>
                  <div id="c_btn-group" class="pi-draggable btn-group pull-right" draggable="true">
                    <span data-bind="if: tutti_sel() == 1">
                      <a href="#" class="btn btn-success btn-sm text-light" data-bind="click: $root.setTutti" style="box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);">Tutti</a>&nbsp
                    </span>
                    <span data-bind="if: tutti_sel() == 0">
                      <a href="#" class="btn btn-success btn-sm text-light" data-bind="click: $root.setTutti">Tutti</a>&nbsp
                    </span>
                    <div data-bind="foreach: $root.membri">
                      <a href="#" class="btn btn-primary btn-sm text-light" data-bind="text: name, style: {backgroundColor: color, borderColor: color}, click: function(data, event){ $root.changeAssignedPerson($data, $parent, event)}"></a>
                    </div>                    
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot data-bind="if: oggetti().length > 0">
              <tr>
                <th>Somma</th>
                <th data-bind="text: $root.total"></th>
              </tr>
            </tfoot>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
  <script src="javascripts/dragndrop_plugin.js"></script>
  <script src="javascripts/do.js"></script>
  <script src="javascripts/upload.js"></script>
</body>

</html>