html(lang='en')
  head
    include ./partials/meta
    include ./partials/css
    title= title
  body
    include ./partials/header
    block content
    include ./partials/footer
    include ./partials/javascripts
    header
    	h1 My Cool Site
    block content
    h1 Hello there
    a(href='http://www.lolcats.com/') Lol cats
    article
		h1 Hello
		p Hey!